extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio 

    p This is a place to show off the latest projects I have created for future potential employers or clients to see and become interested in
    p Over the years this site should get filled up more and more with projects I create


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects 
        .cell 
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`)
            h5= project.project_name